:root {
  --primary-color: rgb(155, 34, 50);
  --text-color-a: rgba(255, 255, 255, 0.863);
  --text-color-b: black;
  --heading-font: 'roboto', sans-serif;
  --body-font: 'arial', 'helvetica', sans-serif;



}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  font-family: var(--main-font);
  color: var(--text-color-a);
  display: block;
  padding: 20px;
}

h1 {
  color: var(--text-color-b);
  font-family: var(--main-font);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  font-family: var(--body-font);
  padding: 0px;
}

main {
  max-width: 600px;
}

aside {
  width: 350px;
  margin: 20px;
  border: 20px;
  padding: 13px;
  background-color: var(--primary-color);
  color: var(--text-color-a);
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 13px;
  border-top: 5px solid rgb(10, 10, 10);
  text-align: center;
}