nav {
  background-color: darkgreen;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0px;
}

main {
  max-width: 600px;
}

aside {
  width: 350px;
  margin: 20px;
  border: 20px;
  padding: 13px;
  background-color: darkgreen;
  color: white;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 13px;
  border-top: 5px solid rgb(10, 10, 10);
  text-align: center;
}